.body{
	font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif; 
	color: #1d2129; 
	font-size: 16px; 
	background-color: #eee;
	margin: 0px;
}

.header{
	width: 100%; 
	position: fixed; 
	top: 0; 
	display: table; 
	background: #FFF;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;	
	font-size: 16px; 
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 
}

.header-content, .content-content, .footer-content{
	width: 70%;
	display: table;
	text-align: left;
}

.content{
	 width: 100%; 
	 display: table; 
	 margin-top: 100px; 
	 margin-bottom: 100px;
	 background-color: #eee;
}

.footer{
	width: 100%; 
	position: fixed; 
	bottom: 0; 
	display: table; 
	background-color: #eee;
	font-size: 11px; 
	padding-bottom: 10px;
}




.robot-message {
	display: table;
	float: left;
	text-align: left;
	font-size: 16px;
	background-color: #FFF;
	border-radius: 10px;
	padding: 16px;
	padding-bottom: 8px;
	max-width: 30%;
}	

.button-take-test {
	font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
	background-color: #46C600;				
	color: #fff;
	border: 1px solid #46C600;
	padding: 12px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 16px;
}